
#video {
    width:100%; 
    height:500px; 
    border: none;
}
.div_secoes {
    border: 1px solid lightgray;
}
.div_secoes img {
    width: 100%;
}
.div_secoes h5, .div_secoes p {
    margin: 20px;
}
nav {
    position: sticky;
    top: 0;
    z-index: 99999;
}